body
{
	background: #111111 url(/Content/Music/Images/bg.jpg) no-repeat scroll center top;
}
/* index --------------------------------------------*/
#wrapper
{
	width: 800px;
	margin: 25px auto;
}
#intro
{
	padding-bottom: 10px;
}
#slider
{
	width: 800px;
	margin: 0 auto;
	position: relative;
	border: 10px solid #ccc;
}
.scroll
{
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	position: relative;
}
.scrollContainer
{
	position: relative;
}
.scrollContainer div.panel
{
	padding: 10px;
	width: 274px;
	height: 318px;
}
#left-shadow
{
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	bottom: 0;
	background: url(/Content/Music/Images/leftshadow.png) repeat-y;
}
#right-shadow
{
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	bottom: 0;
	background: url(/Content/Music/Images/rightshadow.png) repeat-y;
}
.inside
{
	padding: 10px;
	border: 1px solid #999;
}
.inside img
{
	display: block;
	border: 1px solid #666;
	margin: 0 0 10px 0;
	width: 250px;
}
.inside h2
{
	font-weight: normal;
	color: #ccc;
	font-size: 16px;
	margin: 0 0 8px 0;
}
.inside p
{
	font-size: 10px;
	color: #ccc;
}
.inside a
{
	color: #33CCCC;
	text-decoration: none;
	border-bottom: 1px dotted #33CCCC;
}
.inside a:hover
{
	border-bottom: 1px solid #33CCCC;
	color: #33CCCC;
}
.scrollButtons
{
	position: absolute;
	top: 127px;
	cursor: pointer;
}
.scrollButtons.left
{
	left: -45px;
}
.scrollButtons.right
{
	right: -45px;
}
.hide
{
	display: none;
}
/* playlist --------------------------------------------*/
#main
{
	width: 400px;
	margin: 20px auto;
}
#out
{
	font-size: 10px;
	font-family: Tahoma;
}