<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="kaogu_0730Win"
			FileName="[WinAppBin]\kaogu_0730.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="kaogu_0730Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/kaogu_0730.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(local)" DBName="kaogu_0730EasyTest" />
	</TestDatabases>

	<Aliases>
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v10.1, Version=10.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v10.1, Version=10.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WinAppBin" Value="D:\Softwares\kaogu_0730\kaogu_0730.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="D:\Softwares\kaogu_0730\kaogu_0730.Web" />
	</Aliases>
</Options>
