<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DakkaData.Properties.Settings.dakka2ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=dakka2;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>