<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=Test;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>