* {
	margin: 0;
	padding: 0;
}
body {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #82B64A url(/Content/Images/main_bg.jpg) repeat-x scroll 0 0;
	color: #E6F0D5;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 100%;
}
#main {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(/Content/Images/shadow.jpg) no-repeat scroll 50% 26px;
	height: 100%;
}
#wrapper {
	margin: 0 auto;
	position: relative;
	width: 766px;
	height: auto;
	min-height: 100%;
}
#mainpic {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(/Content/Images/main_pic.jpg) repeat scroll 0 0;
	float: left;
	height: 545px;
	width: 323px;
}
#content {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(/Content/Images/content_bg.jpg) no-repeat scroll 0 0;
	display: table;
	float: left;
	width: 443px;
	padding-top: 40px;
	min-height: 400px;
	height: 400px;
}
#Description {
	width: 400px;
	height: 80px;
	overflow: hidden;
	display: block;
	padding: 5px;
	line-height: 1.5em;
}
#add {
	width: 80px;
	height: 30px;
	display: block;
	line-height: 30px;
}
#todos-wrapper {
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	background-color: #FFFFFF;
	clear: both;
	margin-top: 5px;
	padding: 20px;
	width: 372px;
}
#todos {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#todos li:first-child {
	border-top: 1px dashed #888888;
}
#todos li {
	border-bottom: 1px dashed #888888;
	line-height: 1.5em;
	padding: 10px;
	color: #486E25;
	font-size: large;
}
#todos li:hover {
	background-color: #D8EFAB;
}
#footer {
	clear: both;
}
